<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maginot - Your Feature-Rich Platform</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="heading_navbar">
        <div class="header-container">
            <h1>Maginot CyberSec</h1>
            <ul class="nav-links">
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('signup')}}">Sign Up</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Roadmap</a></li>
            </ul>
        </div>
        <h2>One-stop AI powered solution for your business cybersec needs</h2>
    
    </div>
  
    <div class="content_body">
        <h1>Smart monitoring systems for all your vulnerable surfaces</h1>
        <div style="text-align: center;">
            
            <img style="text-align: center;"" src="/static/img/server.png">
          </div>
          <div style=" border-top: 1px solid #ddd; "></div>
          <br>
          <br>
        <div>
            <div class="left_para">
                <img class="infor" src="/static/img/placeholder.png" width="30%" height="30%">
                <div class="infort">
                    <h1>Deploy and forget</h1><br>
                    <p>Maginot constantly monitors all your attack surfaces, notifying you about the smallest of anomalies. So deploy your app and forget about it!
                        Our round the clock monitoring services will make sure you know of any suspicious requests or activities aimed at your infrastructure.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <div class="right_para">
            
                <div class = "infort2">
                    <h1>
                        Less worrying, more scaling
                    </h1><br>
                    <p>
                        Maginot will monitor your infrastructure and other attack surfaces no matter the size. From small hobby projects, mid-sized SaaS to a global software service.
                        We make sure customers of all sizes are catered to.
            
                    </p>
                </div>
                <img class="infor2" src="/static/img/placeholder2.png" width="25%" height="25%">
            </div>
            
            <br>
            <br>
            
            <div class="left_para">
                <img class="infor" src="/static/img/placeholder3.png" width="20%" height="20%">
            
                <div class="infort">
                    <h1>Detailed and concise reports</h1><br>
                    <p>Get daily, weekly and monthly reports straight to your inbox, slack/discord channel or SMS. Maginot sorts your data into neat
                        comprehensible graphs, diagrams and tables. Warning you of threats, entities of interest and many more metrics.
                    </p>
                </div>
            </div>
            <div style=" border-top: 1px solid #ddd; "></div>
            <br>
            <h1>Our monitoring services include:</h1>
            <div class="three-columns">
                
                <div class="column">
                    <h2 class="colu_hea">01 Social Media</h2>
                    <p>Social Media and e-mail inboxes. We scan for non-ascii characters, harmful attachments, any-login attempts and more</p>
                </div>
                <div class="column">
                    <h2 class="colu_hea">02 SSH and network analysis</h2>
                    <p>Use our open-source tools to link to our services while configuring your cloud infrastructure.</p>
                </div>
                <div class="column">
                    <h2 class="colu_hea">03 AI model to classify traffic</h2>
                    <p>A custom AI model to classify the kind of traffic you get at your site. Get detailed reports on location and ip addresses of requests too.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
